{% extends 'base.html' %}

{% load static %}

{% block right-body %}

<div class="container">
    <div>
        <h1 class="bg-secondary text-center m-3 text-light rounded">Cources Details</h1>
    </div>
    <div>
        <dl class="m-4">
            <dt class="fs-4 " > <a href="" class="text-decoration-none"> Python </a></dt>
                <dd>Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected.</dd>
            <dt class="fs-4 " > <a href="" class="text-decoration-none"> Html </a></dt>
                <dd>The HyperText Markup Language or HTML is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.</dd>
            <dt class="fs-4 " > <a href="" class="text-decoration-none"> Css </a></dt>
                <dd>Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected.</dd>
            <dt class="fs-4 " > <a href="" class="text-decoration-none"> mysql </a></dt>
                <dd>Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected.</dd>
            
        </dl>
    </div>
    
</div>



{% endblock right-body %}