{% extends 'base.html' %}
{% load static %}

{% block right-body %}
<div class="container text-center">
    <!-- image -->
    <div class="m-4 p-3 text-center">
        <img src="{% static 'images/rohan.jpeg' %}" class="rounded-circle" alt="no image" width="200px" height="250px">
    </div>
    <!-- text  -->
    <div>
        <p class="text-center h3 text"> Hi i am Rohan</p>
    </div>
    <div class="fs-5 m-4 p-2">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo qui maiores aperiam voluptas consectetur quasi ut, delectus ipsum quod ex, officiis necessitatibus voluptate. Obcaecati est quisquam dolorum doloribus odit numquam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum eum, ea atque, animi dolorem qui numquam alias architecto natus culpa repellat! Adipisci accusamus eos, possimus commodi repudiandae quos quaerat enim.</p>
    </div>
</div>
{% endblock right-body %}